<!-- FAQ -->

<ngx-ui-loader></ngx-ui-loader>

<body>

    <div class="wrap">
        <div class="loading outer">
          <div class="loading inner"></div>
        </div>
    </div>

    <!-- Navigation -->
    <app-nav-bar-accueil></app-nav-bar-accueil>
  
    <!-- Page Content -->
    <div class="container"> 
     
  
      <!-- Page Features -->
      <div class="row text-center">

        <div class="container-fluid">       


            <div class="row">





            <h1>Foire aux Questions</h1>




              <div id="accordion">

                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                      LendMe, qu'est-ce qu c'est ?
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                      <p>
                        LendMe est une plateforme de financement participatif avec contreparties en nature ou non. LendMe permet à des projets originaux, créatifs, solidaires et innovants de se faire financer par leur communauté.
                      </p>
                      <p>
                        En échange des participations, la personne responsable du projet peut offrir une ou plusieurs contreparties à choisir. Le projet doit atteindre 100% de son objectif pour récupérer les fonds et se réaliser afin de livrer ses contreparties.
                      </p>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                      Qui peut utiliser LendMe ? Combien coûte l'inscription ?
                    </a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p>
                        Tout le monde, quel que soit son âge, sa nationalité ou son pays d'origine, peut s'inscrire sur LendMe pour échanger avec la communauté, découvrir et faire parler des projets merveilleux présentés sur la plateforme.
                      </p>
                      <p>
                        Pour contribuer à un projet : c’est ouvert à tout le monde !
                      </p>
                      <p>
                        Pour lancer un projet : il faut avoir 18 ans (ou avoir un tuteur majeur) et habiter dans un pays de l’UE.
                      </p>
                      <p>
                        Combien coûte l'inscription ? R, Nada. Walou. L'inscription et la consultation de projets sont entièrement gratuits.
                      </p>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                      Les Campagnes, comment ça marche ?
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p>
                        Pour s'assurer que les moyens demandés par les porteurs de projet sont réalistes et correspondent au mieux à leurs besoins, les collectes de fonds se font sur une durée déterminée et avec un montant minimum déterminé.
                      </p>
                      <p>
                        De cette façon, on évite au maximum les fausses promesses et les demi-mesures. Si l’objectif minimum n’était pas atteint vous n'auriez peut-être pas les moyens de financer réellement votre projet. Avec ce système, les projets se donnent toutes les chances de réussir, et les soutiens s'offrent la garantie que ces chances seront données.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                      Proposer mon projet
                    </a>
                  </div>
                  <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p>
                        Pour proposer votre projet, vous devez passer par le formulaire dédié et le décrire dans ses grandes lignes. Indiquez la somme nécessaire à sa réalisation, le type de contreparties que vous souhaitez offrir à vos soutiens et quelques liens vers les sites, pages fans ou articles qui vont permettre à l'équipe de modération de mieux connaître votre travail.
                      </p>
                      <p>
                        Soignez votre proposition ! 
                      </p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                      Les projets peuvent-ils récolter plus d'argent que l'objectif fixé ?
                    </a>
                  </div>
                  <div id="collapseFive" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p>
                        Oui. Les projets peuvent bien sûr dépasser l'objectif fixé. Il n'y a aucune limite à la somme maximale qui peut être récoltée.
                      </p>
                    </div>
                  </div>
                </div>
              
              </div>












<!--************************************************************************************************* ESSAI 1 ******************************************************************
  
                <div id="accordion">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Collapsible Group Item #1
                          </button>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            LendMe est une plateforme de financement participatif avec contreparties en nature ou non. LendMe permet à des projets originaux, créatifs, solidaires et innovants de se faire financer par leur communauté. 

                            En échange des participations, la personne responsable du projet peut offrir une ou plusieurs contreparties à choisir. Le projet doit atteindre 100% de son objectif pour récupérer les fonds et se réaliser afin de livrer ses contreparties. 
                        </div>
                      </div>
                    </div>
                  </div>
                
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <h4><i class="fas fa-xs fa-info-circle"></i> Get started</h4>
                      </mat-expansion-panel-header>
                
                      <ng-template matExpansionPanelContent>
                        <app-howto-get-started>
                            nim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </app-howto-get-started>
                      </ng-template>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <h4><i class="fas fa-xs fa-info-circle"></i> Save bookmarks</h4>
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <app-howto-save>
                            nim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </app-howto-save>
                      </ng-template>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <h4><i class="fas fa-xs fa-info-circle"></i> Search bookmarks</h4>
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <app-howto-search></app-howto-search>
                      </ng-template>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <h4><i class="fas fa-xs fa-info-circle"></i> Bookmarklets</h4>
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <app-howto-bookmarklets></app-howto-bookmarklets>
                      </ng-template>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <h4><i class="fas fa-xs fa-info-circle"></i> Codelets</h4>
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <app-howto-codelets></app-howto-codelets>
                      </ng-template>
                    </mat-expansion-panel>
                  </mat-accordion>


        ***************************************************************************************************************************************************************************** -->








            </div>
  
          </div>
  
         
       
  
      </div>
      <!-- /.row -->
  
    </div>
    <!-- /.container -->

    <section>

    </section>
  
    <Br>

    <!-- Footer -->
    <app-footer-accueil></app-footer-accueil> 

  
  </body>



